<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BD</servlet-name>
        <servlet-class>utils.BD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLoginPaciente</servlet-name>
        <servlet-class>servlets.loginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginPaciente</servlet-name>
        <jsp-file>/loginPaciente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>opcionesPac</servlet-name>
        <jsp-file>/opcionesPac.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>altaCita</servlet-name>
        <jsp-file>/altaCita.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>horaCita</servlet-name>
        <servlet-class>servlets.horaCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>horasLibres</servlet-name>
        <jsp-file>/horaLibreMedico.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>guardarCita</servlet-name>
        <servlet-class>servlets.guardarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaCita</servlet-name>
        <jsp-file>/bajaCita.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>eliminarCita</servlet-name>
        <servlet-class>servlets.eliminarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSanitario</servlet-name>
        <jsp-file>/loginSanitario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletLoginSanitario</servlet-name>
        <servlet-class>servlets.loginSanitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citasSanitario</servlet-name>
        <jsp-file>/citasSanitario.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BD</servlet-name>
        <url-pattern>/BD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opcionesPac</servlet-name>
        <url-pattern>/opcionesPac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginPaciente</servlet-name>
        <url-pattern>/loginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaCita</servlet-name>
        <url-pattern>/seleccionarSanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>horaCita</servlet-name>
        <url-pattern>/horaCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>horasLibres</servlet-name>
        <url-pattern>/horasLibres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoginPaciente</servlet-name>
        <url-pattern>/sLoginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarCita</servlet-name>
        <url-pattern>/guardarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaCita</servlet-name>
        <url-pattern>/bajaCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCita</servlet-name>
        <url-pattern>/eliminarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSanitario</servlet-name>
        <url-pattern>/loginSanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoginSanitario</servlet-name>
        <url-pattern>/sLoginSanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citasSanitario</servlet-name>
        <url-pattern>/citasSanitario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
